---
layout: default
title: "GitHub Course"
head: <link rel='stylesheet' href='/styles/course_page.css'>
---

<div class="container">
  <div class="logo">
    <img src="/assets/images/github-logo.png" alt="GitHub Logo">
  </div>
  <h1>GitHub Course</h1>
  <p>Here are the lessons for this course:</p>
  <ul>
    {% for file in site.static_files %}
      {% if file.path contains '_github' %}
        <li><a href="{{ file.path | relative_url }}">{{ file.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
