---
layout: default
title: Courses
---

<div class="courses-container">
  <h1>Our Courses</h1>
  <ul class="course-list">
    {% for course in site.collections %}
      {% if course.label != "posts" %}
        <li>
          <a href="{{ course.label | relative_url }}/index.html">
            <img src="/assets/images/courses/{{ course.label }}.png" alt="{{ course.label }}" />
            <span>{{ course.label | capitalize }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
